.main-body{
    background-color: #102e50;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  .main_div {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  .center_div {
    width: 50%;
    height: auto;
  }
  
  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  li {
    font-size: 10rem;
    font-weight: bold;
    padding-left: 2rem;
    color: #576574;
    animation: light 1.3s linear infinite;
  }
  
  li:first-child {
    padding-left: 0rem;
  }
  
  @-webkit-keyframes light {
    0% {
      color: #576574;
      text-shadow: none;
    }
    90% {
      color: #576574;
      text-shadow: none;
    }
    100% {
      color: #f1c40f;
    }
  }
  
  .center_div ul li:nth-child(1) {
    animation-delay: 0s;
  }
  
  .center_div ul li:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .center_div ul li:nth-child(3) {
    animation-delay: 0.2s;
  }
  .center_div ul li:nth-child(4) {
    animation-delay: 0.3s;
  }
  .center_div ul li:nth-child(5) {
    animation-delay: 0.4s;
  }
  .center_div ul li:nth-child(6) {
    animation-delay: 0.5s;
  }
  .center_div ul li:nth-child(7) {
    animation-delay: 0.6s;
  }

  .ofertas {
    display: flex;
    justify-content: center;
    }
    .ofertas .tarjeta {
      width: 300px;
      margin-inline: 20px;
      margin-bottom: 30px;
      text-align: center;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.3s ease-in-out;
      overflow: hidden; }
    .ofertas .tarjeta:hover {
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.4); }
    .ofertas .tarjeta img {
      width: 70%;
      margin-top: 10px;
      height: 160px; }
    .ofertas .tarjeta-contenido {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%; }
    .ofertas .boton-contacto {
      margin-bottom: 8px;
      text-decoration: none;
      padding: 10px;
      margin-top: 10px;
      background-color: #f1c40f;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px; }